@import "tailwindcss";

#root {
  max-width: 2000px;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 30s linear infinite;
  width: max-content;
}